.Question {
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0;
  display:block;
}

.likert:before {
  content: '';
  position:relative;
  top:11px;
  left:5%; 
  display:block;
  background-color:#efefef;
  height:4px;
  width:90%; 
}

.likert li {
  display:inline-block;
  width:11%;
  text-align:center;
  vertical-align: top;
}
.likert li input {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
}
.likert li label {
  width: 100%;
  text-align: center;
}
